PUBLIC_SUPABASE_URL=https://tntacrwceejsgdmjajuq.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRudGFjcndjZWVqc2dkbWphanVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyOTE5ODgsImV4cCI6MjA3Nzg2Nzk4OH0.__tMu2ByRi390V3RNJtnnn7NEZcoWm4UX3zrSLYSyYw

